.container {
  width: 30rem;
  margin: auto;
  margin-bottom: 5rem;
  padding: 1rem 1rem 3rem 1rem;
  border-radius: 1rem;
}

.titulo {
  text-align: center;
}

.imagemCadastro {
  height: 8rem;
  margin: auto;
}

.status-prioridade {
  display: flex;
  justify-content: space-between;
}

.select-field {
  width:49%;
}

.observacoes {
  min-height: 5rem;
  max-height: 10rem;
}

.icon {
  color: #683ab7;
  opacity: 0.9;
}

.button {
  margin-bottom: 1rem;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #34AD4B;
}

.fullWidth {
  width: 100%;
}
